body, html {
    font-family: 'Arial', sans-serif;
    background-color: #efb541; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

  
.container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    text-align: center;
}


.form-container {
    width: 360px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    max-height: 90vh;
    overflow:hidden;
}

/* Nawigacja w górnym pasku */

.nav-link {
    position: relative;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #fff;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

input {
    margin-top: 10px;
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: grey;
}

input:focus {
    outline: none;
    border: 1px solid #FFA500;
}

input::placeholder {
    color: #999;
}


.form-button,
.action-button {
    width: 100%;
    padding: 12px;
    background-color: #edb957;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover,
.action-button:hover {
    background-color: #FFA500;
}

#bombaclat{
    width: 16%;
    padding: 13px;
    background-color: #edb957;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-right:29px;
}

#bombaclat:hover{
    background-color: #FFA500;
}

#bombaclatv2{
    width: 16%;
    padding: 13px;
    background-color: #44814b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

#bombaclatv2:hover{
    background-color: #239430;
}

p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
}

p a {
    color: #4f4ce6;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}



.search-bar {
    width: 520px; 
    padding: 15px;
    margin: 20px auto; 
    font-size: 1.1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: block; 
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

